@if (combined$ | async; as combined) {
  <!-- @if (combined.leagues && combined.leagues.length > 0) { -->
    <p-tabs (valueChange)="onChangeTab($event)" value="0">
      <p-tablist>
          @for (league of combined.leagues; track league.name) {
              <p-tab [value]="league.name">{{ league.name }}</p-tab>
          }
      </p-tablist>
      <p-tabpanels>
          @for (league of combined.leagues; track league.name) {
              <p-tabpanel [value]="league.name">
                <app-league [league]="league" (selectTeamName)="onSelectTeamName($event)"></app-league>
                @if (combined.team) {
                  <h2>{{combined.team.name}}</h2>
                  <p>{{combined.team.coachName}}</p>
                }
              </p-tabpanel>
          }
      </p-tabpanels>
  </p-tabs>
  } @else {
    <p>...loading</p>
  }
<!-- } -->


